<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @webmark.url %>
</p>

<p>
  <b>Name:</b>
  <%= @webmark.name %>
</p>

<p>
  <b>Date saved:</b>
  <%= @webmark.date_saved %>
</p>


<%= link_to 'Edit', edit_webmark_path(@webmark) %> |
<%= link_to 'Back', webmarks_path %>
